.content {
    height: 100vh;
}

.sidebar {
    width: 300px;
}

.full-height {
    height: 100%;
}

.ui-datatable {
    height: 100%;
}

.ui-datatable .ui-datatable-header {
    display: none;
}

.ui-datatable-scrollable-header-box {
    margin-right: 0 !important;
}

.ui-datatable .ui-datatable-scrollable-body {
    overflow-y: scroll;
}

.csv-preview-table {
	min-height: 500px;
	min-width: 500px;
}