.content {
    height: 100vh;
}

.sidebar {
    width: 350px;
}

.full-height {
    height: 100%;
}

.ui-datatable {
    height: 100%;
}

.ui-datatable .ui-datatable-header{
    display: none;
}

.ui-datatable-scrollable-header-box {
    margin-right: 0 !important;
}

.ui-datatable .ui-datatable-scrollable-body {
    overflow-y: scroll;
}

.csv-preview-table {
	min-height: 500px;
	min-width: 500px;
}

div#results-filename{
	margin-bottom: auto;
	margin-top:auto;
	color:#333333
}

.stick-to-bottom {
	vertical-align: bottom;
	display:inline-block"
}

div#search-section{
	text-align: right;
}

.ui-fileupload div {
	border: none !important;
	background: none !important;
}

.ui-fileupload-choose span.ui-icon {
	display: none !important;
}

.ui-fileupload-cancel,
.ui-fileupload-content {
    display: none !important;
}
